.hero-image {
  background-color: $astronaut-blue;
  padding-top: 75px;
  height: 90%;
  & > .row {
    position: relative;
    min-height: rem-calc(400);
    background-position: center right;
    background-size: 75%;
    background-repeat: no-repeat;
    height: 100%;
    @media #{$medium-up} {
      background-image: url("../img/hero-image.png");
    }
  }
  h1, p {
    color: $white;
  }
}

.hero-text-area {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}