.owl-carousel {
  list-style: none;
  margin-left: 0;
  @media #{$medium-up} {
      @include block-grid(4);
  }
  li.item {
    text-align: center;
    height: 160px;
    img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}