.service, .reference, .about, .contact {
  position: relative;
  min-height: 300px;
  h1, p {
    color: $white;
  }
  h1 {
    font-size: 3.5rem;
  }
  p {
    font-family: 'Open Sans';
    font-size: 1.5rem;
  }
  & > .row {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media #{$medium-up} {
    background-position: center;
    background-size: initial;
  }
}

.service {
  background-color: $web-orange;
  @media #{$medium-up} {
    background-image: url("../img/services.png");
  }
}

.service-content {
  padding-top: 80px;
  h2 {
    font-weight: normal;
    margin-top: rem-calc(16px);
    line-height: rem-calc(45px);
  }
  p {
    text-align: justify;
    padding: 0 30px;
  }
}

.reference {
  background-color: $curious-blue;
  @media #{$medium-up} {
    background-image: url("../img/reference.png");
  }
}

.about {
  background-color: $astronaut;
  @media #{$medium-up} {
    background-image: url("../img/about.png");
  }
}

.about-content {
  p {
    font-size: rem-calc(20);
    text-align: justify;
  }
}

.contact {
  background-color: $java-blue;
  @media #{$medium-up} {
    background-image: url("../img/contact.png");
  }
}